<h1>New restaurant! </h1>

<%= simple_form_for @restaurant do |f| %>
  <%= f.input :name, label: "Name" %>
  <%= f.input :address, label: "Address" %>
  <%= f.input :category, label: "Category", collection: ["chinese", "italian", "japanese", "french", "belgian"], prompt: "Select category" %>
  <%= f.submit "Create Restaurant" %>
<% end %>
